.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 1fr 100px;
  height: 100%;
  > header {
    grid-column: 1/-1;
    grid-row: 1/2;
    padding: 0 2em;
    background-color: #2e2e2e;
  }
  > aside {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  > main {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
  > footer {
    grid-column: 1/-1;
    grid-row: 3/-1;
  }
}

@media (max-width: 900px) {
  .container {
    > aside {
      grid-column: 1/2;
      grid-row: 2/3;
      z-index: 1;
    }
    > main {
      grid-column: 1/-1;
      grid-row: 2/3;
    }
  }
}
