.container {
  display: grid;
  grid-template-rows: 100px 1fr;
  height: 100%;
  background: #343434;
  > header {
    grid-column: 1/-1;
    grid-row: 1/2;
    padding: 0 2em;
    background-color: #2e2e2e;
    position: sticky;
    top: 0;
  }
  > main {
    grid-column: 1/-1;
    grid-row: 2/3;
    background-image: url("../../../assets/images/bg_1.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-rows: 80px 1fr;
    > main {
      grid-column: 1/-1;
      grid-row: 2/3;
      overflow: auto;
    }
  }
}
