.carousel-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  > .img-container {
    height: 100%;
    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  > .action-container {
    position: absolute;
    background: #2e2e2e7a;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: white;
    button {
      padding: 1em 2em;
      border-radius: 10px;
      border: 1px solid;
      color: white;
      background: #2e2e2e87;
      font-size: 13px;
      cursor: pointer;
      letter-spacing: 4px;
    }
  }
}
