.nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(218, 218, 218);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  > .nav-brand > a {
    font-size: 30px;
    letter-spacing: 0.25em;
    cursor: pointer;
  }
  .nav-btn {
    display: none;
  }
  > ul {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    li {
      display: flex;
      text-align: center;
      padding: 1em;
      animation: color-change 2s infinite;
      &:hover {
        color: white;
        cursor: pointer;
        font-weight: 600;
        animation: none;
      }
    }
  }
}

@keyframes color-change {
  0% {
    color: #ebabab;
  }
  10% {
    color: #ebcbab;
  }
  20% {
    color: #ebcbab;
  }
  30% {
    color: #ebe6ab;
  }

  40% {
    color: #caebab;
  }
  50% {
    color: #abebb9;
  }
  60% {
    color: #abe2eb;
  }
  70% {
    color: #abc5eb;
  }
  80% {
    color: #afabeb;
  }
  90% {
    color: #d2abeb;
  }
  100% {
    color: #ebabe0;
  }
}

@media (max-width: 800px) {
  .nav {
    .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 1em;
      #navbar-toggle {
        cursor: pointer;
        padding: 10px 35px 16px 0px;
        span,
        span:before,
        span:after {
          cursor: pointer;
          border-radius: 1px;
          height: 3px;
          width: 30px;
          background: #ffffff;
          position: absolute;
          display: block;
          content: "";
          transition: all 300ms ease-in-out;
        }
        span:before {
          top: -10px;
        }
        span:after {
          bottom: -10px;
        }
        &.active span {
          background-color: transparent;
          &:before {
            top: 0;
            transform: rotate(-45deg);
          }
          &:after {
            top: 0;
            transform: rotate(45deg);
          }
        }
      }
    }
    > ul {
      display: none;
    }
    > ul.active {
      animation: slide 0.5s forwards;
      display: flex;
      position: fixed;
      z-index: 1;
      width: 100%;
      top: 100px;
      right: -500px;
      height: calc(100% - 100px);
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      background: #2e2e2e;
      margin: 0;
      padding: 0;
    }
  }
}

@keyframes slide {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}
