.rc-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.user-avatar {
  width: 200px;
  height: 200px;
  > img {
    object-fit: cover;
  }
}

@media (min-width: 576px) {
  .rc-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .rc-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .rc-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .rc-container {
    max-width: 1146px;
  }
}
