html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 19px;
  line-height: 24px;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
